<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.itagile.isilmelindwidget"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15" />

    <application android:icon="@drawable/ic_launcher" 
        android:label="Isilmelind Widget"
        android:theme="@style/AppTheme">
        
    	<receiver android:name="de.itagile.isilmelindwidget.IsilmelindWidgetProvider" android:label="isilmelindWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="de.itagile.islmelindwidget.BUTTON_CLICKED_ACTION"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/isilmelind_widget_provider" />
        </receiver>
     	
	</application>
</manifest>




